<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>如果要学习web前端开发，需要学习什么？</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>

	<body>
		<%- include('header.ejs') %>
		<div class="container">
			<div class="row">
				<!--asider-->
				<%- include('asider.ejs') %>
				<!--article-->
				<div class="col-sm-9 blog-main">
					<article class="blog-post">
					<p>本人刚刚开通博客没有多长时间，请大家多多支持！！！！</p>
					<p>谢谢大家了</p>
					</article>
					
				</div>
				<!-- /.blog-main -->
			</div>
		</div>
		<%- include('footer.ejs') %>
	</body>

</html>